@use "styles/aurora.scss";
@use "styles/glass.scss";

$black: #000000ff;
$oxford-blue: #14213dff;
$orange-web: #fca311ff;
$platinum: #e5e5e5ff;
$white: #ffffffff;

$ubuntuFont: "Ubuntu Mono", monospace;
$nunitoFont: "Nunito", sans-serif;

%flexer-extender {
  display: flex;
  justify-content: center;
  align-items: center;
}

html,
body {
  height: 100%;
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: $black;
  font-family: $nunitoFont !important;
}

.styler {
  position: absolute;
  padding: 0px;
  font-size: 10rem;
  margin-left: 20px;
  bottom: 40%;
  color: $orange-web;
}

header {
  @extend %flexer-extender;
  background-color: $black;

  & .cloud {
    font-size: 4rem;
  }

  & > .header-name {
    @extend %flexer-extender;
    font-size: 1rem;
    margin-right: 1rem;
    font-family: $nunitoFont;

    & > .location {
      font-size: 1.6rem;
      color: $orange-web;
    }
  }
  s & > .header-date {
    font-size: 0.6rem;

    & > mark {
      background-color: $oxford-blue;
      border-radius: 2px;
    }
  }
}

main {
  background-color: $black;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 2fr 1fr;

  & section {
    padding: 20px;
  }

  & > section#current-ctn {
    background-color: $black;

    grid-row: 1;
    grid-column: 1;

    & .airwave,
    .humidity {
      color: $orange-web;
    }

    & > div {
      @extend %flexer-extender;
      gap: 10px;

      & > hgroup {
        .current-temp {
          font-family: $ubuntuFont;
          font-size: 6rem;

          & > sup {
            color: $platinum;
          }
        }

        .current-conditions {
          font-size: 1.2rem;
        }
      }

      & > div,
      hgroup {
        @extend %flexer-extender;
        gap: 10px;
        flex-direction: column;
      }

      & > div > hgroup > h3 {
        font-family: $nunitoFont;
        font-size: 1.2rem;
        margin-top: 10px;
      }
    }

    & > div:first-child {
      flex-direction: column;
    }
  }
  & > section#weather-img-ctn {
    background-color: $black;

    grid-row: 1;
    grid-column: 2;
    @extend %flexer-extender;

    & > .current-icon {
      color: $orange-web;
      font-size: 16rem;
      margin: 0;
      padding: 0;
    }
  }
  & > section#week-ctn {
    background-color: $black;

    grid-row: 1;
    grid-column: 3;

    & > .day-ctn {
      @extend %flexer-extender;
      gap: 4px;

      & > .day-icon {
        color: $orange-web;
        font-size: 1rem;
      }

      & > hgroup {
        @extend %flexer-extender;
        flex-direction: column;
      }

      & > hgroup > h2 {
        font-size: 0.8rem;
      }

      & > hgroup > h3 {
        font-size: 0.6rem;
      }

      & > h3 {
        font-size: 1rem;
        font-family: $ubuntuFont;
      }
    }
  }
  & > section#days-ctn {
    background-color: $black;
    grid-row: 2;
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;

    & > .single-day {
      @extend %flexer-extender;
      flex-direction: column;
      padding: 10px;

      & > h1 {
        font-size: 1rem;
        font-family: $ubuntuFont;
        color: $platinum;
      }
    }
  }
}

section#input-ctn {
  background-color: $black;

  @extend %flexer-extender;
  flex-direction: column;

  & > h2 {
    position: relative;
    font-size: 1.2rem;
    margin-bottom: 5rem;
    color: $platinum;
    &::before {
      position: absolute;
      content: "";
      background-color: $orange-web;
      width: 100px;
      height: 10px;
      bottom: -55%;
      border-radius: 6px;
    }
    &::after {
      position: absolute;
      content: "";
      background-color: $oxford-blue;
      width: 100px;
      height: 10px;
      bottom: -55%;
      right: 0;
      border-radius: 6px;
    }
  }

  & > form {
    margin-bottom: 2rem;
    & > input {
      margin-bottom: 2rem;
    }
  }
}

footer {
  background-color: $oxford-blue;

  text-align: center;
}

button {
  &:hover {
    background-color: $oxford-blue;
  }
}
